.content {
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: 650px;
  height: 500px;
  position: static;
  cursor: default;
  opacity: 1;
  margin: 0 auto 0 auto;
  padding: 0;
  overflow: visible;
  border: 2px solid rgba(0,0,0,0.91);
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal normal bold 28px/0 Verdana, Geneva, sans-serif;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}
